<section  class="py-20 bg-white">
    <div class="max-w-7xl mx-auto text-center space-y-4">
        <h2 class="text-3xl font-bold text-primary">Notre Équipe</h2>
        <p class="font-semibold">Decouvrez l'équipe compétente et dynamique qui chez gozen, travaille pour aider les entreprises et les chercheurs d'emplois à trouver le meilleur !</p>
        <div class="flex  gap-12 max-w-full overflow-auto">
            <!-- Doris MANDENGUE DIWOUTA LOTH -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md min-w-[350px]">
                <img src="images/Doris_Mandengue.jpeg" alt="Doris MANDENGUE DIWOUTA LOTH" class="rounded-full mx-auto mb-4">
                <h3 class="text-xl font-semibold mb-2">Doris MANDENGUE DIWOUTA LOTH 🍓</h3>
                <p class="text-mediumGray">Virtual Assistant & Community Manager</p>
                <a href="#" class="text-lightPink hover:underline mt-4 inline-block">Voir le profil</a>
            </div>
            <!-- Marthe Julienne NGO NDJOCK -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md min-w-[350px]">
                <img src="images/Marte_julienne_ngo.jpeg" alt="Marthe Julienne NGO NDJOCK" class="rounded-full mx-auto mb-4">
                <h3 class="text-xl font-semibold mb-2">Marthe Julienne NGO NDJOCK 🕵️‍♀️</h3>
                <p class="text-mediumGray">Je capitalise vos ressources humaines en les transformant en valeur ajoutée - Assistant RH</p>
                <a href="#" class="text-lightPink hover:underline mt-4 inline-block">Voir le profil</a>
            </div>
            <!-- Dimitri Mouaha -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md min-w-[350px]">
                <img src="images/dimitri_Mouhada.jpeg" alt="Dimitri Mouaha" class="rounded-full mx-auto mb-4">
                <h3 class="text-xl font-semibold mb-2">Dimitri Mouaha 🏅</h3>
                <p class="text-mediumGray">HR junior officer in love with inclusive storytelling 💡</p>
                <a href="#" class="text-lightPink hover:underline mt-4 inline-block">Voir le profil</a>
            </div>
            <!-- Adele Victoire Ngo BIYIHA -->
            <div class="bg-gray-100 p-6 rounded-lg shadow-md min-w-[350px]">
                <img src="images/Adele_victoire_ngo.jpeg" alt="Adele Victoire Ngo BIYIHA" class="rounded-full mx-auto mb-4">
                <h3 class="text-xl font-semibold mb-2">Adele Victoire Ngo BIYIHA</h3>
                <p class="text-mediumGray">Communication & Marketing | Community Manager | Stratège Communication | Copywriter</p>
                <a href="#" class="text-lightPink hover:underline mt-4 inline-block">Voir le profil</a>
            </div>
        </div>
    </div>
</section>
