<section id="home" class="relative bg-cover bg-center h-screen bg-fixed p-4" style="background-image: url('images/people_in_meeting_from_top.jpg'); background-position: center;">
    <div class="absolute inset-0 bg-black opacity-60 "></div>
    <!-- <div class="absolute inset-0 bg-black opacity-50 bg-gradient-to-b from-[rgba(0,0,0,1)] to-[rgba(0,0,0,0)] via-transparent "></div> -->
   <app-navbar></app-navbar>
    <div class="flex ites center flex-reverse-col md:flex-row relative items-center w-full h-full ">
    <div class="relative space-y-4 z-10  flex items-start flex-col justify-center text-white">
        <h1 class="text-8xl">Gozen Services</h1>
        <h2 class="text-3xl font-extrabold mb-4">Facilitateur des trajectoires professionnelles</h2>
        <p>Nous aidons les entreprises et les professionnels à recruter, gérer et développer leurs talents efficacement.</p>
        <p class="text-xl mb-6">Révélez le potentiel de votre carrière avec Gozen Service</p>
        <a href="#services" class="text-white py-3 px-6 rounded-lg bg-[#7c2c8b] hover:bg-[#7A2C39] transition duration-700">Nos Services</a>
    </div>
    <div class="flex item center w-full md:w-1/2">
        <img src="images/bussiness_illus.png" alt="">
    </div>
   </div>
</section>




<section id="home" class="relative  hidden bg-cover bg-center h-screen bg-fixed p-4" >
    <!-- <div class="absolute inset-0 bg-black opacity-50"></div> -->
    <header class="relative z-10 bg-[#7c2c8b] text-white">
        <nav class="max-w-7xl mx-auto p-2 flex justify-between items-center">
            <div class="text-2xl w-[60px] h-[60x] flex items-center  font-bold">
                <img class="rounded-full" src="images/gozen-services.jpg" alt="">
                <span>Gozen Services</span>
            </div>
            <ul class="flex space-x-6">
                <li><a href="#home" class="hover:text-[#AF4E64]">Accueil</a></li>
                <li><a href="#services" class="hover:text-[#AF4E64]">Services</a></li>
                <li><a href="#about" class="hover:text-[#AF4E64]">À propos</a></li>
                <li><a href="#contact" class="hover:text-[#AF4E64]">Contact</a></li>
            </ul>
        </nav>
    </header>    
   <div class="flex ites center flex-col-reverse md:flex-row relative items-center w-full h-full ">
    <div class=" space-y-4 z-10 w-1/2 flex items-start flex-col justify-center text-[#7506A1]">
        <h1 class="text-8xl">Gozen Services</h1>
        <h2 class="text-3xl font-extrabold mb-4">Facilitateur des trajectoires professionnelles</h2>
        <p class="text-xl">Nous aidons les entreprises et les professionnels à recruter, gérer et développer leurs talents efficacement.</p>
        <p class="text-lg mb-6">Révélez le potentiel de votre carrière avec Gozen Service</p>
        <a href="#services" class="bg-blue-500 text-white py-3 px-6 rounded-lg hover:bg-blue-700">Nos Services</a>
    </div>
    <div class="flex item center w-full md:w-1/2">
        <img src="images/bussiness_illus.png" alt="">
    </div>
   </div>
</section>
