<router-outlet></router-outlet>

<app-hero></app-hero>
<div id="services">
  <app-services></app-services>
</div>

<div id="comming-soon">
  <app-comming-soon></app-comming-soon>
</div>
<div class="testimonies">
  <app-testimonies></app-testimonies>
</div>

<div id="about">
  <app-about-us></app-about-us>
</div>

<div id="team">
  <app-team></app-team>
</div>
<div class="team" id="team">
  <app-offers></app-offers>
</div>

<div id="contact">
  <app-contact-us></app-contact-us>
</div>

  <!-- Footer -->
  <footer class="bg-blue-900 text-white py-6">
    <div class="max-w-7xl mx-auto text-center">
        <p>&copy; 2024 Gozen Service. Tous droits réservés.</p>
        <div class="mt-4">
            <a href="#" class="text-blue-300 hover:text-blue-500">Mentions légales</a> | 
            <a href="#" class="text-blue-300 hover:text-blue-500">Politique de confidentialité</a>
        </div>
    </div>
</footer>