 <!-- Témoignages Section -->
 <section class="bg-gray-100 py-20 bg-fixed" style="background: linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.596)), url('images/man_giving_hand.jpg') center;">
    <div class="max-w-7xl mx-auto text-center text-white">
        <h2 class="text-3xl font-bold mb-12">Ce que disent nos clients</h2>
        <div class="flex justify-center space-x-12">
            <div class="w-1/3">
                <blockquote class="italic">"Gozen Service a révolutionné notre processus de recrutement, nous avons trouvé des talents exceptionnels grâce à eux!"</blockquote>
                <p class="font-semibold mt-4">Jean Dupont, PDG de XYZ Corp</p>
            </div>
            <div class="w-1/3">
                <blockquote class="italic">"Le coaching proposé a permis à notre équipe de surmonter de nombreux défis et de renforcer la cohésion du groupe."</blockquote>
                <p class="font-semibold mt-4">Marie Lefebvre, Responsable RH chez ABC Inc.</p>
            </div>
        </div>
    </div>
</section>