<section class="py-20 bg-white">
    <div class="max-w-7xl mx-auto text-center">
        <h2 class="text-3xl font-bold mb-12">À propos de nous</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div>
                <img src="images/people_in_meeting_from_top.jpg" alt="Gozen Service Team" class="w-full rounded-lg shadow-lg mb-4">
            </div>
            <div>
                <div>
                    <h3 class="text-2xl font-semibold mb-4">Notre Histoire</h3>
                    <p>
                       {{gozen.description.p1}}
                    </p>
                    <p class="mt-4">{{gozen.description.p2}}</p>
                </div>
                <div class="socials w-full flex flex-col space-y-2 items-center">
                    <h2 class="text-xl font-semibold mt-12">Nous sommes aussi présents sur les réseaux</h2>
                    <p class="flex space-x-4 text-2xl">
                        @for(social of gozen.socials; track social.id) {
                            <a 
                                [title]="social.name"
                                [class]="social.color+' text-2xl border-2 w-12 h-12 flex items-center justify-center rounded-full hover:bg-[#AF4E64] border-[#AF4E64] hover:text-white'" 
                                [href]="social.link"
                            >
                                <fa-icon [icon]="social.icon"></fa-icon>
                            </a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>