<section  class="py-3 bg-white">
    <div class="max-w-7xl mx-auto text-center">
        <div class="bg-lightGray py-12">
            <div class="max-w-7xl mx-auto px-6">
              <h2 class="text-3xl font-bold text-darkShade text-center">Nos Services</h2>
              <p class="mb-8 ">Decouvrez ce que Gozen Service peut faire pour vous</p>
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 2xl:grid-cols-4 gap-8 container">
                
                <!-- Placement du Personnel -->
                <div class="bg-white rounded-lg shadow-xl p-6 text-center min-h-[250px] hover:bg-[#AF4E64] group hover:text-white transition duration-700">
                  <div class="text-primary rounded-full h-20 w-20 flex items-center justify-center p-4 group-hover:text-white group-hover:bg-[#AF4E64] border-2 border-[#AF4E64] group-hover:border-white transition duration-700">
                    <!-- <i class="fas fa-people-arrows text-primary text-4xl mb-4"></i> -->
                    <fa-icon class=" text-4xl mb-4" [icon]="faPeapleArrow"></fa-icon>
                  </div>
                  <h3 class="text-xl font-semibold text-darkShade mb-2 group-hover:text-white">Placement du Personnel</h3>
                  <p class="text-gray-700 group-hover:text-white">Nous assurons le placement de professionnels qualifiés adaptés aux besoins de votre entreprise.</p>
                </div>
                
                <!-- Gestion des Recrutements -->
                <div class="bg-white rounded-lg shadow-xl p-6 text-center min-h-[250px] hover:bg-[#AF4E64] group hover:text-white transition duration-700">
                  <div class="text-primary rounded-full h-20 w-20 flex items-center justify-center p-4 group-hover:text-white group-hover:bg-[#AF4E64] border-2 border-[#AF4E64] group-hover:border-white transition duration-700">
                    <fa-icon class="text-4xl mb-4" [icon]="faClipboardList"></fa-icon>
                  </div>
                  <h3 class="text-xl font-semibold text-darkShade mb-2 group-hover:text-white">Gestion des Recrutements</h3>
                  <p class="text-gray-700 group-hover:text-white">De la rédaction des annonces à la sélection finale, nous simplifions vos processus de recrutement.</p>
                </div>
                
                <!-- Évaluation de Profil Emploi -->
                <div class="bg-white rounded-lg shadow-xl p-6 text-center min-h-[250px] hover:bg-[#AF4E64] group hover:text-white transition duration-700">
                  <div class="text-primary rounded-full h-20 w-20 flex items-center justify-center p-4 group-hover:text-white group-hover:bg-[#AF4E64] border-2 border-[#AF4E64] group-hover:border-white transition duration-700">
                    <fa-icon class="text-4xl mb-4" [icon]="faUserCheck"></fa-icon>
                  </div>
                  <h3 class="text-xl font-semibold text-darkShade mb-2 group-hover:text-white">Évaluation de Profil Emploi</h3>
                  <p class="text-gray-700 group-hover:text-white">Analyse approfondie des compétences et des aptitudes pour un meilleur alignement professionnel.</p>
                </div>
                
                <!-- Gestion des RH -->
                <div class="bg-white rounded-lg shadow-xl p-6 text-center min-h-[250px] hover:bg-[#AF4E64] group hover:text-white transition duration-700">
                  <div class="text-primary rounded-full h-20 w-20 flex items-center justify-center p-4 group-hover:text-white group-hover:bg-[#AF4E64] border-2 border-[#AF4E64] group-hover:border-white transition duration-700">
                    <fa-icon class=" text-4xl mb-4" [icon]="faUserCog"></fa-icon>
                  </div>
                  <h3 class="text-xl font-semibold text-darkShade mb-2 group-hover:text-white">Gestion des RH</h3>
                  <p class="text-gray-700 group-hover:text-white">Simplifiez la gestion quotidienne de vos ressources humaines, rendez-la optimale grâce à nos solutions stratégiques et opérationnelles.</p>
                </div>
                
              </div>
            </div>
          </div>
    </div>
</section>