<section id="coming-soon" class="py-20 px-4 bg-gradient-to-r from-[#7a2c390] to-[#AF4E64] text-white relative overflow-hidden">
    <!-- Background Image with Blur -->
    <div class="absolute top-0 left-0 w-full h-full  bg-cover bg-center filter blur-sm z-0" style="background: linear-gradient(to right, #af4e6559, #af4e65b6), url('images/cvtheque_screen.png');"></div>
    
    <div class="max-w-7xl mx-auto text-center relative z-10 mt-5">
        <h2 class="text-4xl font-bold mb-8 ">Bientôt Disponible</h2>
        <p class="text-xl mb-6">Nous préparons quelque chose de spécial pour vous !</p>
        <p class="text-lg mb-12">Gozen Service vous propose bientôt une plateforme complète pour faciliter la gestion de votre carrière professionnelle. Restez à l'affût pour découvrir :</p>
        
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mb-12 text-[#7A2C39]">
            <!-- Service 1 -->
            <div class="bg-white p-6 rounded-lg shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-xl ">
                <h3 class="text-2xl font-semibold mb-4">CVthèque</h3>
                <p>Accédez à une base de données riche et mettez en relation les bons profils avec les bonnes opportunités.</p>
            </div>
            <!-- Service 2 -->
            <div class="bg-white p-6 rounded-lg shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-xl ">
                <h3 class="text-2xl font-semibold mb-4">Job Seeking</h3>
                <p>Recherchez des emplois adaptés à vos compétences et à vos aspirations professionnelles.</p>
            </div>
            <!-- Service 3 -->
            <div class="bg-white p-6 rounded-lg shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-xl ">
                <h3 class="text-2xl font-semibold mb-4">Onboarding</h3>
                <p>Facilitez l'intégration des nouveaux collaborateurs avec une solution simple et intuitive.</p>
            </div>
            <!-- Service 4 -->
            <div class="bg-white p-6 rounded-lg shadow-lg transform transition duration-500 hover:scale-105 hover:shadow-xl ">
                <h3 class="text-2xl font-semibold mb-4">CV Builder</h3>
                <p>Créez votre CV professionnel rapidement grâce à notre outil en ligne facile à utiliser.</p>
            </div>
        </div>

        <p class="text-lg mb-6">Inscrivez-vous pour être informé dès que la plateforme sera en ligne !</p>
        <a href="#contact" class="bg-primary text-white py-3 px-6 rounded-lg hover:bg-darkShade  transition duration-300">Préinscription</a>
    </div>
</section>
